In [1]:
import os
# Find the latest version of spark 2.0 from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-2.4.7'
spark_version = 'spark-2.4.7'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables ",
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

zsh:1: command not found: apt-get
zsh:1: command not found: apt-get
zsh:1: command not found: wget
tar: Error opening archive: Failed to open 'spark-2.4.7-bin-hadoop2.7.tgz'

Exception: Unable to find py4j, your SPARK_HOME may not be configured correctly

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

zsh:1: command not found: wget

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("BigData-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

ModuleNotFoundError: No module named 'pyspark'

In [4]:
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Furniture_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get("amazon_reviews_us_Furniture_v1_00.tsv.gz"), sep="\t", header=True, inferSchema=True)
df.show()

ModuleNotFoundError: No module named 'pyspark'

In [5]:
from pyspark.sql.functions import to_date
# Read in the Review dataset as a DataFrame

# df is already a DataFrame, no need to re-do. Skipping current step.

ModuleNotFoundError: No module named 'pyspark'

In [6]:
# Create the customers_table DataFrame
customers_df = df.groupby("customer_id").agg({"customer_id":"count"}).withColumnRenamed("count(customer_id)", "customer_count")
customers_df.show()

NameError: name 'df' is not defined

In [7]:
# Create the products_table DataFrame and drop duplicates.
products_df = df.select(['product_id','product_title']).drop_duplicates()
products_df.show()

NameError: name 'df' is not defined

In [8]:
# Create the review_id_table DataFrame.
# Convert the 'review_date' column to a date datatype with to_date("review_date", 'yyyy-MM-dd').alias("review_date")
review_id_df = df.select(['review_id', 'customer_id' , 'product_id', 'product_parent', to_date("review_date", 'yyyy-MM-dd').alias("review_date")])
review_id_df.show()

NameError: name 'df' is not defined

In [9]:
# Create the vine_table. DataFrame
vine_df = df.select(['review_id', 'star_rating', 'helpful_votes', 'total_votes', 'vine', 'verified_purchase'])
vine_df.show()

NameError: name 'df' is not defined

In [10]:
# Configure settings for RDS 
mode = "append"
jdbc_url="jdbc:postgresql://mychallenge16.cnoe7lzdcxmt.us-east-1.rds.amazonaws.com:5432/mychallenge16"
config = {"user":"postgres", 
          "password": "Acc3ss12", 
          "driver":"org.postgresql.Driver"}

In [11]:
# Write review_id_df to table in RDS
review_id_df.write.jdbc(url=jdbc_url, table='review_id_table', mode=mode, properties=config)

NameError: name 'review_id_df' is not defined

In [12]:
# Write products_df to table in RDS
# Average of 3 Minutes.
products_df.write.jdbc(url=jdbc_url, table='products_table', mode=mode, properties=config)

NameError: name 'products_df' is not defined

In [13]:
# Write customers_df to table in RDS
# Average of 5 Minutes and 17 Seconds
customers_df.write.jdbc(url=jdbc_url, table='customers_table', mode=mode, properties=config)

NameError: name 'customers_df' is not defined

In [14]:
# Write vine_df to table in RDS
# Average of 12 Minutes
vine_df.write.jdbc(url=jdbc_url, table='vine_table', mode=mode, properties=config)

NameError: name 'vine_df' is not defined